In [7]:
%load_ext autoreload
%autoreload 2
import numpy as np
import os
import pandas as pd
import xarray as xr
import glob
import processing_netcdf as pcdf

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
folder = "/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/"

In [5]:
files = glob.glob(folder+"*rcp45_tn_mean_annual.nc")
#ex: ACCESS1-3_rcp45_tn_mean_annual.nc
files

['/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/ACCESS1-3_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/BNU-ESM_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/CanESM2_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/CMCC-CMS_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/GFDL-ESM2M_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/HadGEM2-CC_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/INM-CM4_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/IPSL-CM5A-LR_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/IPSL-CM5B-LR_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/MPI-ESM-LR_rcp45_tn_mean_annual.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/NorESM1-M_rcp45_tn_mean_annual.nc']

In [10]:
df = pcdf.dft_map_models_periods('/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/ACCESS1-3_rcp45_tn_mean_annual.nc', 'tn_mean')

In [14]:
df

(       time        lat        lon    tn_mean
 0       0.0  40.041039 -89.045212   5.830523
 1       0.0  40.041039 -88.961884   5.803563
 2       0.0  40.041039 -88.878548   5.797626
 3       0.0  40.041039 -88.795219   5.837083
 4       0.0  40.041039 -88.711891   5.852179
 ...     ...        ...        ...        ...
 76201   0.0  66.623306 -61.629639 -13.292688
 76202   0.0  66.623306 -61.546310 -13.531558
 76203   0.0  66.623306 -61.462978 -13.377424
 76204   0.0  66.623306 -61.379650 -13.321078
 76205   0.0  66.623306 -61.296322 -12.828807

 [76206 rows x 4 columns],        time        lat        lon   tn_mean
 0       1.0  40.041039 -89.045212  7.614846
 1       1.0  40.041039 -88.961884  7.595872
 2       1.0  40.041039 -88.878548  7.597999
 3       1.0  40.041039 -88.795219  7.640400
 4       1.0  40.041039 -88.711891  7.664904
 ...     ...        ...        ...       ...
 76201   1.0  66.623306 -61.629639 -9.579584
 76202   1.0  66.623306 -61.546310 -9.887319
 76203   1.0  66.623306 -61.462978 -9.786368
 76204   1.0  66.623306 -61.379650 -9.788564
 76205   1.0  66.623306 -61.296322 -9.341183

 [76206 rows x 4 columns],        time        lat        lon   tn_mean
 0       2.0  40.041039 -89.045212  8.138854
 1       2.0  40.041039 -88.961884  8.120969
 2       2.0  40.041039 -88.878548  8.124577
 3       2.0  40.041039 -88.795219  8.170810
 4       2.0  40.041039 -88.711891  8.192356
 ...     ...        ...        ...       ...
 76201   2.0  66.623306 -61.629639 -8.457452
 76202   2.0  66.623306 -61.546310 -8.773203
 76203   2.0  66.623306 -61.462978 -8.680074
 76204   2.0  66.623306 -61.379650 -8.692971
 76205   2.0  66.623306 -61.296322 -8.256333

 [76206 rows x 4 columns])

In [18]:
print (df[0])

       time        lat        lon    tn_mean
0       0.0  40.041039 -89.045212   5.830523
1       0.0  40.041039 -88.961884   5.803563
2       0.0  40.041039 -88.878548   5.797626
3       0.0  40.041039 -88.795219   5.837083
4       0.0  40.041039 -88.711891   5.852179
...     ...        ...        ...        ...
76201   0.0  66.623306 -61.629639 -13.292688
76202   0.0  66.623306 -61.546310 -13.531558
76203   0.0  66.623306 -61.462978 -13.377424
76204   0.0  66.623306 -61.379650 -13.321078
76205   0.0  66.623306 -61.296322 -12.828807

[76206 rows x 4 columns]

In [26]:
df2 = pd.DataFrame.from_records(df[0], columns= ["time", "lat", "lon", "tn_mean"] )

In [27]:
df2

       time        lat        lon    tn_mean
0       0.0  40.041039 -89.045212   5.805918
1       0.0  40.041039 -88.961884   5.779952
2       0.0  40.041039 -88.878548   5.775680
3       0.0  40.041039 -88.795219   5.815594
4       0.0  40.041039 -88.711891   5.829097
...     ...        ...        ...        ...
76201   0.0  66.623306 -61.629639 -12.980038
76202   0.0  66.623306 -61.546310 -13.208903
76203   0.0  66.623306 -61.462978 -13.041680
76204   0.0  66.623306 -61.379650 -12.974846
76205   0.0  66.623306 -61.296322 -12.480039

[76206 rows x 4 columns]

In [22]:
for file in files:
    fname = os.path.basename(file)
    print(fname)
    df = pcdf.dft_map_models_periods(file, 'tn_mean')

ACCESS1-3_rcp45_tn_mean_annual.nc
BNU-ESM_rcp45_tn_mean_annual.nc

/exec/mlopez/Code/GitHub/processing_netcdf.py:23: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()

CanESM2_rcp45_tn_mean_annual.nc

KeyboardInterrupt:

In [23]:
df

(       time        lat        lon    tn_mean
 0       0.0  40.041039 -89.045212   5.805918
 1       0.0  40.041039 -88.961884   5.779952
 2       0.0  40.041039 -88.878548   5.775680
 3       0.0  40.041039 -88.795219   5.815594
 4       0.0  40.041039 -88.711891   5.829097
 ...     ...        ...        ...        ...
 76201   0.0  66.623306 -61.629639 -12.980038
 76202   0.0  66.623306 -61.546310 -13.208903
 76203   0.0  66.623306 -61.462978 -13.041680
 76204   0.0  66.623306 -61.379650 -12.974846
 76205   0.0  66.623306 -61.296322 -12.480039

 [76206 rows x 4 columns],        time        lat        lon   tn_mean
 0       1.0  40.041039 -89.045212  7.930364
 1       1.0  40.041039 -88.961884  7.927907
 2       1.0  40.041039 -88.878548  7.947074
 3       1.0  40.041039 -88.795219  8.008582
 4       1.0  40.041039 -88.711891  8.047061
 ...     ...        ...        ...       ...
 76201   1.0  66.623306 -61.629639 -9.656118
 76202   1.0  66.623306 -61.546310 -9.901075
 76203   1.0  66.623306 -61.462978 -9.738461
 76204   1.0  66.623306 -61.379650 -9.681773
 76205   1.0  66.623306 -61.296322 -9.195192

 [76206 rows x 4 columns],        time        lat        lon   tn_mean
 0       2.0  40.041039 -89.045212  8.540456
 1       2.0  40.041039 -88.961884  8.532454
 2       2.0  40.041039 -88.878548  8.545958
 3       2.0  40.041039 -88.795219  8.600932
 4       2.0  40.041039 -88.711891  8.637295
 ...     ...        ...        ...       ...
 76201   2.0  66.623306 -61.629639 -9.124950
 76202   2.0  66.623306 -61.546310 -9.374767
 76203   2.0  66.623306 -61.462978 -9.213521
 76204   2.0  66.623306 -61.379650 -9.157840
 76205   2.0  66.623306 -61.296322 -8.668318

 [76206 rows x 4 columns])

In [30]:
shapefile = "/home/mlopez/EXEC/Shapefiles/DDE_STF_20K_UA_PER_VUE_S.shp"

In [31]:
df3 = pcdf.clip_by_reg(shapefile, df2)

/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geopandas/tools/sjoin.py:58: UserWarning: CRS of frames being joined does not match!(None != {'init': 'epsg:4326'})
  warn(

In [32]:
df3

,time,lat,lon,tn_mean,geometry,index_right,OBJECTID,PER_NO_UA,DATE_PUBLI,SUPERFICIE,Shape_Leng,Shape_Area,D_GENERAl
0,0.0,45.290829,-71.129257,-0.917695,POINT (-71.12926 45.29083),5,6,05151,2019-11-30,2353.5,3.875096e+04,2.360611e+07,None
1,0.0,45.374161,-70.962601,-1.097115,POINT (-70.96260 45.37416),2,3,05151,2019-11-30,1657.5,3.229192e+04,1.662015e+07,None
2,0.0,45.457489,-70.962601,-1.048898,POINT (-70.96260 45.45749),71,72,05151,2019-11-30,2664.9,4.870958e+04,2.671080e+07,None
3,0.0,45.457489,-70.712608,-1.168558,POINT (-70.71261 45.45749),69,70,05151,2019-11-30,9572.5,5.764414e+04,9.594909e+07,None
4,0.0,45.540821,-71.129257,-1.018968,POINT (-71.12926 45.54082),70,71,05151,2019-11-30,4541.2,6.284971e+04,4.550464e+07,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7611,0.0,52.290550,-68.129379,-7.809856,POINT (-68.12938 52.29055),40,41,09352,2019-11-30,1424519.6,1.241968e+06,1.404552e+10,Nord-Est
7612,0.0,52.290550,-68.046051,-7.889129,POINT (-68.04605 52.29055),40,41,09352,2019-11-30,1424519.6,1.241968e+06,1.404552e+10,Nord-Est
7613,0.0,52.290550,-67.962723,-7.852384,POINT (-67.96272 52.29055),40,41,09352,2019-11-30,1424519.6,1.241968e+06,1.404552e+10,Nord-Est
7614,0.0,52.290550,-67.879387,-7.562664,POINT (-67.87939 52.29055),40,41,09352,2019-11-30,1424519.6,1.241968e+06,1.404552e+10,Nord-Est
7615,0.0,52.373878,-68.129379,-7.890646,POINT (-68.12938 52.37388),40,41,09352,2019-11-30,1424519.6,1.241968e+06,1.404552e+10,Nord-Est